header {
    .navbar {
        font-size: 30px;
    }

    .navbar-dark {
        background-color: seagreen;
    }
}

section {
    height: 550px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    .jumbotron {
        height: 40%;

        h1 {
            font-size: 48px;
        }

        p {
            text-align: right;
            font-size: 30px;
            font-family: monospace;
        }
    }
}

/* footer inicio */
footer{
    height: 120px;
    width: 100%;
    background-color: seagreen;

    h3{
        text-align: center;
        font-size: 40px;
    }

    .redes{
        font-size: 30px;
        text-align: center;
    }
}



/* footer fin */

/* contacto wasap */
.wasap {
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 60px;
    right: 40px;
    text-align: center;
    line-height: 3px;
    font-size: 30px;
    border-radius: 50%;
    color: rgb(35, 155, 11);
}